In [8]:
import sys
print("Python Executable:", sys.executable)
print("\nLibrary Paths:")
for path in sys.path:
    print(path)

Python Executable: d:\machine_learning_code\.venv\Scripts\python.exe

Library Paths:
C:\Users\DEVA\AppData\Roaming\uv\python\cpython-3.13.11-windows-x86_64-none\python313.zip
C:\Users\DEVA\AppData\Roaming\uv\python\cpython-3.13.11-windows-x86_64-none\DLLs
C:\Users\DEVA\AppData\Roaming\uv\python\cpython-3.13.11-windows-x86_64-none\Lib
C:\Users\DEVA\AppData\Roaming\uv\python\cpython-3.13.11-windows-x86_64-none
d:\machine_learning_code\.venv

d:\machine_learning_code\.venv\Lib\site-packages

In [ ]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel("D:/machine_learning_code/datasets_for_models/Position_Salaries.xlsx")
x=df.iloc[:,1:-1].values
y=df.iloc[:,-1].values

In [3]:
df.head()

            Position  Level  Salary
0   Business Analyst      1   45000
1  Junior Consultant      2   50000
2  Senior Consultant      3   60000
3            Manager      4   80000
4    Country Manager      5  110000

In [4]:
df.tail()

   Position  Level    Salary
17      sfe     19   1900000
18      sdf     20  10000000
19     esdf     21  10100000
20      sed     22  10200000
21     fsdf     23  10300000

In [6]:
from sklearn.ensemble import RandomForestRegressor
regressor=RandomForestRegressor(n_estimators=3,random_state=0)
model=regressor.fit(x,y)

In [7]:
regressor.predict([[6.5]])

array([153333.33333333])

In [9]:
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error
y_pred=model.predict(x)
print(f"R2 Score: {r2_score(y, y_pred):.2f}")
print(f"Mean Squared Error: {mean_squared_error(y, y_pred):.2f}")
print(f"Mean Absolute Error: {mean_absolute_error(y, y_pred):.2f}")

R2 Score: 0.97
Mean Squared Error: 333465909090.91
Mean Absolute Error: 149545.45